.App {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quick-links {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navbar-sticky {
    background: #fff;
  }

  .wrapper {
    margin: 0;
    padding: 0;
    width: inherit;
  }

  .waypoint-fix {
    height: 1px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}