.Experience {
  width: 960px;
  margin-bottom: 64px; }
  .Experience .title {
    padding: 32px 20px 8px 20px;
    margin: 0;
    color: #2E72B5;
    width: calc(100% - 20px - 20px);
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400; }
  .Experience .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .Experience .cards .ExperienceCard .card {
      position: relative;
      margin: 11px;
      width: 168px;
      height: 340px;
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .Experience .cards .ExperienceCard .card .logo-box {
        height: 64px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .Experience .cards .ExperienceCard .card .text {
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        font-size: 13px;
        line-height: 1.3em; }

@media only screen and (max-width: 960px) {
  .Experience {
    width: calc(100% - 16px - 16px);
    padding: 0 16px 0 16px; }
    .Experience .cards {
      flex-direction: column; }
      .Experience .cards .ExperienceCard .card {
        width: calc(100% - 16px - 16px) !important;
        height: auto !important; }
        .Experience .cards .ExperienceCard .card .text {
          padding: 16px; } }
