@import 'base.scss';

.Experience {
  width: $app-width;
  margin-bottom: 64px;

  .title {
    padding: 32px 20px 8px 20px;
    margin: 0;
    color: #2E72B5;
    width: calc(100% - 20px - 20px);
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
  }
  
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    .ExperienceCard {
      
      .card {
        position: relative;
        margin: 11px; // height - width - border
        width: 168px;
        height: 340px;
        border: 1px solid $border-color;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-box {
          height: 64px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .text {
          width: 100%;
          box-sizing: border-box;
          padding: 8px;
          font-size: 13px;
          line-height: 1.3em;

          .technologies {
            margin-top: 8px;
            font-style: italic;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .Experience {
    width: $mobile-app-width;
    padding: $mobile-app-padding;

    .cards {
      flex-direction: column;

      .ExperienceCard {

        .card {
          width: $mobile-app-width !important;
          max-width: $mobile-app-card-max-width !important;
          height: auto !important;

          .text {
            padding: 16px;
          }
        }
      }
    }
  }
}
