.Intro {
  width: 960px;
  box-sizing: border-box;
  padding: 0 128px 0 128px;
  height: 96px; }
  .Intro .description {
    line-height: 1.2em;
    text-align: justify; }

@media only screen and (max-width: 960px) {
  .Intro {
    width: calc(100% - 16px - 16px);
    padding: 0 16px 0 16px;
    height: auto; }
    .Intro .description {
      text-align: center; } }
