@import 'base.scss';

.Intro {
  width: $app-width;
  box-sizing: border-box;
  padding: $app-padding;
  height: 96px;

  .description {
    line-height: 1.2em;
    text-align: justify;
  }
}

@media only screen and (max-width: 960px) {
  .Intro {
    width: $mobile-app-width;
    padding: $mobile-app-padding;
    height: auto;

    .description {
      text-align: left;
    }
  }
}
