.Navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 99;

  .content {
    width: 960px;
    // padding: 0 128px 0 128px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;

    .section {
      margin: 16px;
      text-decoration: none;
      color: inherit;
  
      .section-title {
        font-weight: 400;
      }
    }
  }

  .bar {
    position: absolute;
    height: 3px;
    background-color: rgb(150, 67, 102);
    transform-origin: left top;
    transform: scaleX(0);
    bottom: -3px;
    left: 0;
    width: 100%;
  }
}