@import 'base.scss';

.Navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 99;
  font-family: 'Noto Sans', sans-serif;

  .content {
    width: $app-width;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;

    .section {
      margin: 12px;
      text-decoration: none;
      color: inherit;
      padding: 4px 8px 4px 8px;
      border-radius: 4px;
      
      &:hover {
        color: #2E72B5;
        background-color: #fff;
      }

      &.current {
        color: #2E72B5;
        background-color: #fff;
      }
  
      .section-title {
        font-weight: 400;
      }
    }
  }

  .bar {
    position: absolute;
    height: 3px;
    background-color: rgb(150, 67, 102);
    transform-origin: left top;
    transform: scaleX(0);
    bottom: -3px;
    left: 0;
    width: 100%;
  }
}


@media only screen and (max-width: 960px) {
  .Navbar {

    .content {
      width: $mobile-app-width;
      font-size: 12px;
      justify-content: center;
    }
  }
}
