.Navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 99;
  font-family: 'Noto Sans', sans-serif; }
  .Navbar .content {
    width: 960px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse; }
    .Navbar .content .section {
      margin: 12px;
      text-decoration: none;
      color: inherit;
      padding: 4px 8px 4px 8px;
      border-radius: 4px; }
      .Navbar .content .section:hover {
        color: #2E72B5;
        background-color: #fff; }
      .Navbar .content .section.current {
        color: #2E72B5;
        background-color: #fff; }
      .Navbar .content .section .section-title {
        font-weight: 400; }
  .Navbar .bar {
    position: absolute;
    height: 3px;
    background-color: #964366;
    transform-origin: left top;
    transform: scaleX(0);
    bottom: -3px;
    left: 0;
    width: 100%; }

@media only screen and (max-width: 960px) {
  .Navbar .content {
    width: calc(100% - 16px - 16px);
    font-size: 12px; } }
