@import 'base.scss';

.Projects {
  width: $app-width;

  .title {
    padding: 32px 20px 8px 20px;
    margin: 0;
    color: #2E72B5;
    width: calc(100% - 20px - 20px);
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    .ProjectCard {
      position: relative;
      margin: 11px;

      border: 1px solid $border-color;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      

      &.compressed {
        flex-direction: row;

        .main {
          height: 100%;
        }

        .resources {
          width: 80px;
          height: 100%;
          flex-direction: column;
          align-content: center;
          align-items: center;

          .resource {
            height: 64px;
          }
        }
      }

      .gif {
        border-radius: 8px 8px 0 0;
        max-width: 100%;
        // border-bottom: 1px solid rgb(218, 218, 218);
      }

      .main {
        display: flex;
        flex-direction: column;
        width: 100%;

        .content {
          height: 100%;
          width: 100%;
          padding: 16px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          
          .name {
            width: 100%;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 8px;
          }

          .subtitle {
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 16px;
          }

          .authors {
            font-weight: 300;
            font-size: 11px;
            margin-bottom: 16px;
          }

          .type {
            font-weight: 300;
            font-style: italic;
            font-size: 13px;
            margin-bottom: 8px;
          }

          .separator {
            font-weight: 300;
          }

          .award {
            color: rgb(247, 78, 115);
            font-style: normal;
            font-weight: 400;
          }


          .tidbit {
            font-size: 13px;
            margin-bottom: 16px
          }

          .technologies {
            font-size: 13px;
            font-style: italic;
          }
        }
      }

      .resources {
        height: 56px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .resource {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &:hover {
            .tooltip {
              opacity: 1;
            }

            .resource-icon {
              opacity: 0.8;
            }
          }

          .tooltip {
            font-size: 12px;
            color: rgb(42, 94, 153);
            font-family: 'Roboto Mono', monospace;
            opacity: 0;
          }

          .resource-icon {
            margin: 8px 8px 8px 8px;
            max-height: 16px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 960px) {
  .Projects {
    width: $mobile-app-width;
    padding: $mobile-app-padding;

    .cards {
      flex-direction: column;

      .ProjectCard {
        width: $mobile-app-width !important;
        max-width: $mobile-app-card-max-width !important;
        height: auto !important;

        .gif-container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .gif {
            border-radius: 8px 8px 0 0;
            height: auto;
          }
        }

        .main {
          .thumbnail-box {
            width: 100%;

            .thumbnail {
              padding: 32px 0 32px 0;
            }
          }

          .content {
            width: 100%;
          }
        }
      }
    }
  }
}