@import 'base.scss';

.Publications {
  width: $app-width;
  margin-top: 64px;


  .title {
    font-family: 'Noto Sans', sans-serif;
    padding: 32px 20px 8px 20px;
    margin: 0;
    color: #2E72B5;
    width: calc(100% - 20px - 20px);
    font-weight: 500;
    font-size: 22px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .PublicationCard {
      position: relative;
      margin: 11px;

      border: 1px solid $border-color;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.compressed {
        flex-direction: row;

        .main {
          height: 100%;
        }

        .resources {
          width: 80px;
          height: 100%;
          flex-direction: column;

          .resource {
            height: 64px;
          }
        }
      }

      .main {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: calc(100% - 48px);

        .thumbnail-box {
          height: 100%;
          width: 33%;
          display: flex;
          justify-content: center;
          align-items: center;

          .thumbnail {
            max-width: calc(100% - 16px - 16px);
            padding: 0 16px 0 16px;
          }
        }

        .content {
          height: 100%;
          width: 67%;
          padding: 16px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          
          .name {
            width: 100%;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 8px;
          }

          .paper-title {
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 16px;
          }

          .type {
            font-weight: 300;
            font-style: italic;
            font-size: 13px;
            margin-bottom: 4px;
          }

          .conference {
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 4px;      
          }

          .separator {
            font-weight: 300;
          }

          .award {
            color: rgb(247, 78, 115);
          }

          .authors {
            font-size: 13px;
            margin-bottom: 16px;
          }

          .tidbit {
            font-size: 13px;
          }
        }
      }

      .resources {
        height: 56px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .resource {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &:hover {
            .tooltip {
              opacity: 1;
            }

            .resource-icon {
              opacity: 0.8;
            }
          }

          .tooltip {
            font-size: 12px;
            color: rgb(42, 94, 153);
            font-family: 'Roboto Mono', monospace;
            opacity: 0;
          }

          .resource-icon {
            margin: 8px 8px 8px 8px;
            max-height: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .Publications {
    width: $mobile-app-width;
    padding: $mobile-app-padding;

    .cards {
      flex-direction: column;

      .PublicationCard {
        width: $mobile-app-width !important;
        max-width: $mobile-app-card-max-width !important;
        height: auto !important;

        &.compressed {
          flex-direction: column;

          .main {
            height: calc(100% - 56px);
          }
  
          .resources {
            height: 56px;
            width: 100%;
            flex-direction: row;
  
            .resource {
              height: 100%;
            }
          }
        }

        .main {
          flex-direction: column-reverse;

          .thumbnail-box {
            height: 33%;
            width: 100%;

            .thumbnail {
              max-height: 128px;
              padding: 16px 0 16px 0;
            }
          }

          .content {
            height: 67%;
            width: 100%;
          }
        }
      }
    }
  }
}
