.Publications {
  width: 960px;
  margin-top: 64px; }
  .Publications .title {
    font-family: 'Noto Sans', sans-serif;
    padding: 32px 20px 8px 20px;
    margin: 0;
    color: #2E72B5;
    width: calc(100% - 20px - 20px);
    font-weight: 500;
    font-size: 22px; }
  .Publications .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .Publications .cards .PublicationCard {
      position: relative;
      margin: 11px;
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .Publications .cards .PublicationCard.compressed {
        flex-direction: row; }
        .Publications .cards .PublicationCard.compressed .main {
          height: 100%; }
        .Publications .cards .PublicationCard.compressed .resources {
          width: 80px;
          height: 100%;
          flex-direction: column;
          align-content: center;
          align-items: center; }
          .Publications .cards .PublicationCard.compressed .resources .resource {
            height: 64px; }
      .Publications .cards .PublicationCard .main {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: calc(100% - 48px); }
        .Publications .cards .PublicationCard .main .thumbnail-box {
          height: 100%;
          width: 33%;
          display: flex;
          justify-content: center;
          align-items: center; }
        .Publications .cards .PublicationCard .main .content {
          height: 100%;
          width: 67%;
          padding: 16px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-grow: 1; }
          .Publications .cards .PublicationCard .main .content .name {
            width: 100%;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 8px; }
          .Publications .cards .PublicationCard .main .content .paper-title {
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 16px; }
          .Publications .cards .PublicationCard .main .content .type {
            font-weight: 300;
            font-style: italic;
            font-size: 13px;
            margin-bottom: 4px; }
          .Publications .cards .PublicationCard .main .content .conference {
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 4px; }
          .Publications .cards .PublicationCard .main .content .separator {
            font-weight: 300; }
          .Publications .cards .PublicationCard .main .content .award {
            color: #f74e73; }
          .Publications .cards .PublicationCard .main .content .authors {
            font-size: 13px;
            margin-bottom: 16px; }
          .Publications .cards .PublicationCard .main .content .tidbit {
            font-size: 13px; }
      .Publications .cards .PublicationCard .resources {
        height: 56px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .Publications .cards .PublicationCard .resources .resource {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          .Publications .cards .PublicationCard .resources .resource:hover .tooltip {
            opacity: 1; }
          .Publications .cards .PublicationCard .resources .resource:hover .resource-icon {
            opacity: 0.8; }
          .Publications .cards .PublicationCard .resources .resource .tooltip {
            font-size: 12px;
            color: #2a5e99;
            font-family: 'Roboto Mono', monospace;
            opacity: 0; }
          .Publications .cards .PublicationCard .resources .resource .resource-icon {
            margin: 8px 8px 8px 8px;
            max-height: 16px; }
