.QuickLinks {
  width: 960px;
  box-sizing: border-box;
  padding: 0 16px 0 16px;
  height: 64px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }
  .QuickLinks .QuickLinkCard {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px 0 8px;
    color: inherit; }
    .QuickLinks .QuickLinkCard:hover {
      opacity: 0.8; }
    .QuickLinks .QuickLinkCard .name {
      font-size: 13px;
      font-weight: 700; }
    .QuickLinks .QuickLinkCard .icon {
      max-height: 16px;
      margin-right: 4px; }

@media only screen and (max-width: 960px) {
  .QuickLinks {
    width: calc(100% - 16px - 16px);
    padding: 0 16px 0 16px; } }
