@import 'base.scss';

.Title {
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  width: $app-width;
  padding: $app-padding;
  align-items: center;
  height: 128px;

  .headshot {
    border-radius: 4px;
    width: 96px;
    height: 96px;
  }

  .title {
  }
}


@media only screen and (max-width: 960px) {
  .Title {
    width: $mobile-app-width;
    padding: $mobile-app-padding;
    height: auto;
  }
}
